<form action="/login" method="post">
    <label for="username">First name:</label><br>
    <input type="text" id="username" name="username" value="John"><br>
    <label for="password">Last name:</label><br>
    <input type="text" id="password" name="password" value="Doe"><br><br>
  
    <input type="submit" value="Submit"> 
  </form> 