<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Clean Blog </title>
<link rel="icon" type="image/x-icon" href="../public/assets/favicon.ico" />
<link href="../public/css/styles.css" rel="stylesheet" /><!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<body>

  <!-- trang form cua ad -->

  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Create New Post</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form action="/form" method="POST">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" name="title" placeholder="Title" class="form-control">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Description</label>
              <input type="text" name="description" placeholder="Description" class="form-control">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea name="content" placeholder="Content ..." cols="30" rows="10" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group my-4 text-center">
            <button class="btn btn-primary">Create Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>